/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS Variables */

:root {
    --primary-font: "PT Sans", sans-serif;
    --secondary-font: "Playfair Display", cursive;
    --primary-color: #cdcdbd; /* bone */
    --secondary-color: #1a2c20; /* dark green */
    --highlight-color: #7b8175; /*battleship-gray */
    --highlight-color-light: #d7d8d8; /* platinum */
}

/* Global styles */

body {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

h1, 
h2 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

/* Navbar */

#navbar {
    background-color: var(--secondary-color);
}

#navbar .logo {
    width: 36px;
}

/* Header */

#header {
    text-align: center;
    color: var(--secondary-color);
}

#background {
    max-height: 90vh;
}

#dean {
    max-height: 336px;
}

#welcome-text{
    display: flex;
}



/* Remove Bootstrap gutter to remove horizontal scoll */
.row {
    --bs-gutter-x: 0;
}

#footer {
    padding-top: 20px;
}

/* Media queries */

@media screen {
    
}
